.app-wrapper {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  padding-top: 0px;
  padding-right: 32px;
  padding-bottom: 0px;
  padding-left: 16px;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}